*{
    font-family: Poppins, sans-serif;
    text-shadow: 2px 2px 20px #000000;
    color: #FFFFFF;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #00FFFF;
}

.header-center{
    margin-left: auto;
    margin-right: auto;
}

.header-center img{
    padding: 10px;
    width: 60px;
    height: auto;
}

.header-center ul{
    display: none;
}

.main-center{
    margin-left: auto;
    margin-right: auto;
    height: 260px;
}

.top{
    height: 100px;
}

.top h1{
    text-align: center;
    padding-top: 10px;
}

.top p{
    margin-top: -20px;
    text-align: center;
    padding-bottom: 60px;
}

.middle{
    height: 160px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: linear-gradient(to right, #4b6eeb, #9176e3);
}

.middle-center img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    width: 270px;
    filter: drop-shadow(0px 0px 50px #000000);
}

.info-center div{
    padding: 15px;
    font-size: 13px;
}

.editor-list div{
    align-items: center;
    width: 90%;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;;
    background: linear-gradient(to right, #4b6eeb, #9176e3);
}

.editor-list div h1{
    padding-top: 10px;
    padding-left:  20px;
    height: 50px;
    font-size: 25px;
}

.editor-list img{
    width: 282px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 50px #000000);
}

.visuals-list div{
    padding: 15px;
}

.visuals-list img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
}

.customize-panel{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 90%;
    background: linear-gradient(to right, #4b6eeb, #9176e3);
}

.customize-list div h1{
    padding-top: 20px;
    padding-left: 20px;
}

.customize-list div p{
    padding-left: 20px;
}

.customize-list div img{
    padding: 20px;
    width: 270px;
    display: block;
    margin: auto;
    filter: drop-shadow(0px 0px 50px #000000);
}

.download-center h1{
    padding-top: 30px;
    text-align: center;
}

.download-center div{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 170px;
    text-align: center;
    background: linear-gradient(to right, #4b6eeb, #9176e3);
    border-radius: 10px;
    margin-bottom: 20px;
}

.end-list{
    display: flex;
    align-content: center;
    justify-content: center;
}

.end-list div{
    align-items: center;
    width: 100%;
    margin: 10px;
    text-align: center;
}

.end-list div p{
    font-size: 10px;
    color: #505050;
}

.message{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 20px;
}

.panel{
    background: linear-gradient(to right, #4b6eeb, #9176e3);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

.header-center p{
    float: right;
    padding-right: 20px;
    font-size: 20px;
}

@media (min-width: 1050px) {
    .header-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }

    .header-center img{
        padding: 10px;
        width: 60px;
        height: auto;
    }

    .header-center ul{
        right: 10px;
        float: right;
        display: inline-flex;
    }

    .header-center li{
        list-style: none;
        padding: 10px 25px;
    }

    .main-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        height: 500px;
    }

    .top{
        height: 166px;
    }

    .top h1{
        text-align: center;
        padding-top: 30px;
    }

    .top p{
        margin-top: -20px;
        text-align: center;
        padding-bottom: 60px;
    }

    .middle{
        height: 334px;
        border-radius: 50px;
        width: 100%;
        background: linear-gradient(to right, #4b6eeb, #9176e3);
    }

    .middle-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
    }

    .middle-center img{
        padding-top: 30px;
        width: 650px;
        height: auto;
        filter: drop-shadow(0px 0px 50px #000000);
    }

    .info-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        height: 250px;
    }

    .info-list{
        display: flex;
        height: 250px;
        align-content: center;
        justify-content: center;
    }

    .info-list div {
        align-items: center;
        margin: 20px;
        width: 100%;
    }

    .editor-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        height: 380px;
    }

    .editor-list{
        display: flex;
        height: 380px;
        align-content: center;
        justify-content: center;
    }

    .editor-list div{
        align-items: center;
        width: 100%;
        margin: 10px;
        height: 367px;
        border-radius: 50px;;
        background: linear-gradient(to right, #4b6eeb, #9176e3);
    }

    .editor-list div h1{
        font-size: 35px;
        padding: 0;
        margin-left: 30px;
        height: 52px;
    }

    .editor-list img{
        margin-top: 44px;
        width: 380px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 50px #000000);
    }

    .visuals-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        height: 530px;
    }

    .visuals-list{
        display: flex;
        height: 530px;
        align-content: center;
        justify-content: center;
    }

    .visuals-list div{
        padding: 50px;
        align-items: center;
        width: 100%;
        margin: 10px;
    }

    .visuals-list div img{
        width: 600px;
        height: auto;
    }

    .customize-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        height: 400px;
    }

    .customize-panel{
        height: 400px;
        border-radius: 50px;
        width: 100%;
        background: linear-gradient(to right, #4b6eeb, #9176e3);
    }

    .customize-list{
        display: flex;
        height: 400px;
        align-content: center;
        justify-content: center;
    }

    .customize-list div{
        padding: 50px;
        align-items: center;
        width: 100%;
        margin: 10px;
    }

    .customize-list div img{
        padding-top: 15px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 50px #000000);
    }

    .download-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        height: 275px;
    }

    .download-center h1{
        padding-top: 30px;
        text-align: center;
    }

    .download-center div{
        width: 200px;
        text-align: center;
        background: linear-gradient(to right, #4b6eeb, #9176e3);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .end-center{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        height: 80px;
    }

    .end-list{
        display: flex;
        height: 80px;
        align-content: center;
        justify-content: center;
    }

    .end-list div{
        align-items: center;
        width: 100%;
        margin: 10px;
        text-align: center;
    }

    .end-list div p{
        color: #505050;
        font-size: 15px;
    }
    
    .header-center p{
        float: right;
        padding-right: 20px;
        font-size: 20px;
    }

    .message{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        padding: 20px;
    }

    .panel{
        background: linear-gradient(to right, #4b6eeb, #9176e3);
        border-radius: 50px;
        text-align: center;
    }
}
